<!DOCTYPE html>
<html>
  <head>
    <title>TravelSantaCruz</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>

    <nav class="navbar navbar-toggleable-md navbar-inverse bg-faded">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
     
     <%=link_to image_tag("santacruzca.png"), root_path, class: 'navbar-brand' %>

     
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto mt-2 mt-md-0">
          <li class="nav-item">
            
            <%= link_to 'Attractions', attractions_path, class: 'navbar-brand' %>
          </li>
          
          <li class="nav-item">
            <%= link_to 'Restuarants', restuarants_path, class: 'navbar-brand' %>
          </li>

          <li class="nav-item">
            <%= link_to 'Add a Message', new_message_path, class: 'navbar-brand' %>
          </l> 

          <li class="nav-item">
            <%= link_to 'Messages', messages_path, class: 'navbar-brand' %>
          </li> 
          
 
          
        </div>
        </ul>
      </div>
    </nav>



    <%= yield %>
  </body>
</html>
